@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(229, 209, 238);
}

.chatbot {
    background: #fff;
    width: 420px;
    position: fixed;
    right: 40px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    bottom: 100px;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

.show-bot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header {
    background: #432dd3;
    padding: 16px 0;
    text-align: center;
    position: relative;
}

/* dark mode css on */

.chatbot header .dark {
    position: absolute;
    right: 78px;
    top: 48%;
    cursor: pointer;
    display: block;
    transform: translateY(-50%);
}

.chatbot header .dark .input {
    visibility: hidden;
}

.chatbot header .dark .label {
    background-color: black;
    height: 29px;
    width: 61.5px;
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
}

.chatbot header .dark .label .circle {
    width: 22px;
    height: 22px;
    background-color: #f8ff5f;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    /* Initial state */
    animation: toggleOff .3s linear forwards;
}

.chatbot header .dark input:checked + .label {
    background-color: rgb(255, 237, 117);
}

.chatbot header .dark input:checked + .label .circle {
    background-color: rgb(31, 31, 31);
    /* Activate toggleOn animation */
    animation: toggleOn .3s linear forwards;
}

@keyframes toggleOn {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(34px);
    }
}

@keyframes toggleOff {
    0% {
        transform: translateX(36px);
    }

    100% {
        transform: translateX(0);
    }
} 

/* dark more css off */

.chatbot header h2 {
    color: #f2ff2e;
    font-size: 1.4rem;
}

.chatbot header span {
    position: absolute;
    left: 20px;
    top: 50%;
    cursor: pointer;
    /* display: none; */
    transform: translateY(-50%);
}

.chatbot .chatbox {
    height: 510px;
    overflow-y: auto;
    padding: 30px 20px 100px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .outgoing {
    justify-content: flex-end;
    margin: 20px 0;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    background: #84e77b;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
    align-self: flex-end;
    color: white;
}

.chatbox .chat p {
    background: #9047d4;
    padding: 12px 16px;
    white-space: pre-wrap;
    border-radius: 10px 10px 0 10px;
    color: #fff;
    font-size: 0.95rem;
    max-width: 75%;
}

.chatbox .chat p.error {
    color: rgb(155, 10, 10);
    background: #f8caca;
}

.chatbox .incoming p {
    color: black;
    border-radius: 10px 10px 10px 0;
    background: #e2e2e2;
}

.chatbot .chat-input {
    position: absolute;
    border-top: 1px solid #ccc;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
}

.chat-input textarea {
    border: none;
    outline: none;
    font-size: 0.95rem;
    height: 55px;
    max-height: 180px;
    width: 100%;
    resize: none;
    padding: 16px 15px 16px 0;
}

.chat-input span {
    color: #9047d4;
    cursor: pointer;
    font-size: 1.35rem;
    align-self: flex-end;
    height: 53px;
    line-height: 64px;
    visibility: hidden;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

.toggler {
    position: fixed;
    right: 40px;
    bottom: 46px;
    height: 46px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #84e77b;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.show-bot .toggler {
    transform: rotate(90deg);
}

.toggler span {
    position: absolute;
}

.show-bot .toggler span:first-child,
.toggler span:last-child {
    opacity: 0;

}

.show-bot .toggler span:last-child {
    opacity: 1;
}

@media(max-width : 490px) {
    .chatbot {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .chatbot .chatbox {
        height: 90%;
    }

    .chatbot header span {
        display: block;
    }
}
